workflow:
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      when: never
    - when: always


variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  DEV_SERVER_HOST: 65.21.148.255
  DEV_ENDPOINT: 65.21.148.255

stages:
  - test
  - build
  - deploy_dev
  - deploy_staging
  - deploy_prod


build_image:
  stage: build
  tags:
    - shell
    - hertzner
  before_script:
    - export PACKAGE_JSON_VERSION=$(cat package.json | jq -r .version)
    - export VERSION=$PACKAGE_JSON_VERSION.$CI_PIPELINE_IID
    - echo $VERSION > version-file.txt
  script:
    - docker build -t $IMAGE_NAME:$VERSION .
  artifacts:
    paths:
      - version-file.txt

push_image:
  stage: build
  dependencies:
    - build_image
  needs:
    - build_image
  tags:
    - shell
    - hertzner
  before_script:
    - export VERSION=$(cat version-file.txt)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker push $IMAGE_NAME:$VERSION


dev_deploy:
  stage: deploy_dev
  tags:
    - shell
    - hertzner
  dependencies:
    - build_image
  variables:
    SSH_KEY: $PRIVATE_SSH_KEY
    SERVER_HOST: $DEV_SERVER_HOST

  before_script:
    - echo $SSH_KEY | sed -e "s/-----BEGIN OPENSSH PRIVATE KEY-----/&\n/" -e "s/-----END OPENSSH PRIVATE KEY-----/\n&/" -e "s/\S\{64\}/&\n/g"\ > deploy-key.pem
    - chmod 400 deploy-key.pem
    - export VERSION=$(cat version-file.txt)


  script:
    - scp -o StrictHostKeyChecking=no -i deploy-key.pem ./docker-compose.yml root@$SERVER_HOST:/home/easynect/
    - scp -o StrictHostKeyChecking=no -i deploy-key.pem ./Dockerfile.nginx root@$SERVER_HOST:/home/easynect/
    - scp -o StrictHostKeyChecking=no -i deploy-key.pem ./default.conf root@$SERVER_HOST:/home/easynect/
    - ssh -o StrictHostKeyChecking=no -i deploy-key.pem root@$SERVER_HOST  "
      docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
            cd /home/easynect/ &&
            export DC_IMAGE_NAME=$IMAGE_NAME && 
            export DC_IMAGE_TAG=$VERSION &&
            docker-compose -f docker-compose.yml down &&
            docker-compose -f docker-compose.yml up -d
        "
  when: manual
