.carousel-container {
  position: relative;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px; /* Adjust the margin as needed */
  z-index: 0;
}

.slick-center {
  z-index: 1;
}
