@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ravi Font */
@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/woff/Ravi-thin.woff") format("woff"),
    url("/fonts/woff2/Ravi-thin.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/woff/Ravi-Light.woff") format("woff"),
    url("/fonts/woff2/Ravi-Light.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff/Ravi-Regular.woff") format("woff"),
    url("/fonts/woff2/Ravi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/woff/Ravi-Medium.woff") format("woff"),
    url("/fonts/woff2/Ravi-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/woff/Ravi-SemiBold.woff") format("woff"),
    url("/fonts/woff2/Ravi-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/woff/Ravi-Bold.woff") format("woff"),
    url("/fonts/woff2/Ravi-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/woff/Ravi-Black.woff") format("woff"),
    url("/fonts/woff2/Ravi-Black.woff2") format("woff2");
}

@font-face {
  font-family: Ravi;
  font-style: normal;
  font-weight: 950;
  src: url("/fonts/woff/Ravi-ExtraBlack.woff") format("woff"),
    url("/fonts/woff2/Ravi-ExtraBlack.woff2") format("woff2");
}

* {
  font-family: Ravi;
}
/* end Ravi Font */

body {
  direction: rtl;
}

/* Hide the scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #333; /* Color when toggled on */
}
/* Add this CSS to your stylesheet */
.toggle-checkbox:checked + .toggle-label .toggle-handle {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

/* text shadow  */
.custom-text-shadow-zero {
  text-shadow: 10px 9px 4px rgba(0, 0, 0, 0.6);
}
/* text shadow  */
.custom-text-shadow-left4 {
  text-shadow: 5px 9px 4px rgba(0, 0, 0, 0.2);
}

.custom-text-shadow-right4 {
  text-shadow: 11px 11px 8px rgba(0, 0, 0, 0.6);
}

/* Add this style to make the focus on inputs red */
/* input:focus {
  border-color: #cea16a; /* You can adjust the color as needed */
/* box-shadow: 0 0 5px red; You can adjust the shadow as needed */
/* outline: 1px solid #cea16a; */
/* } */

/* Additional style for textarea focus
textarea:focus {
  border-color: #cea16a;
  /* box-shadow: 0 0 5px red; */
/* outline: 1px solid #cea16a; */
/* }  */

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: bisque !important;
}