@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
}

/* Hide the scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #333; /* Color when toggled on */
}
/* Add this CSS to your stylesheet */
.toggle-checkbox:checked + .toggle-label .toggle-handle {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

/* text shadow  */
.custom-text-shadow-zero {
  text-shadow: 10px 9px 4px rgba(0, 0, 0, 0.6);
}
/* text shadow  */
.custom-text-shadow-left4 {
  text-shadow: 5px 9px 4px rgba(0, 0, 0, 0.2);
}

.custom-text-shadow-right4 {
  text-shadow: 11px 11px 8px rgba(0, 0, 0, 0.6);
}
