@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
}
/* Hide the scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #333; /* Color when toggled on */
}
/* Add this CSS to your stylesheet */
.toggle-checkbox:checked + .toggle-label .toggle-handle {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
