/* qrCss.module.css */
.custom_svg {
  display: block;
  height: 30vw;
  width: 30vw;
  color: #cea16a; /* SVG path use currentColor to inherit this */
}

.circle {
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  animation: draw 1s forwards;
}

.tick {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: draw 1s forwards 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
