/**
*
*	Name:			Ravi Fonts
*	Version:			2.0
*	Author:			Reza Bakhtiarifard (rbakhtiarifard.ir)
*	Created on:		April 2023
*	Updated on:		April 2023
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت پیکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Ravi fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/RaviFaNum-thin.woff') format('woff'),   
	url('fonts/woff2/RaviFaNum-thin.woff2') format('woff2');		
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/RaviFaNum-Light.woff') format('woff'),   
	url('fonts/woff2/RaviFaNum-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/RaviFaNum-Regular.woff') format('woff'),   
	url('fonts/woff2/RaviFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/Ravi FaNum-Medium.woff') format('woff'),   
	url('fonts/woff2/Ravi FaNum-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff/RaviFaNum-SemiBold.woff') format('woff'),   
	url('fonts/woff2/RaviFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/RaviFaNum-Bold.woff') format('woff'),   
	url('fonts/woff2/RaviFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff/Ravi FaNum-Black.woff') format('woff'),   
	url('fonts/woff2/Ravi FaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: Ravi FaNum;
	font-style: normal;
	font-weight: 950;
	src: url('fonts/woff/Ravi FaNum-ExtraBlack.woff') format('woff'),   
	url('fonts/woff2/Ravi FaNum-ExtraBlack.woff2') format('woff2');		 
}